html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.main_content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

/* About Us */

.about_us {
    display: flex;
    flex-direction: row;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0 2rem;
    padding-bottom: 10px;
    margin: 20px 5px 20px 5px;
}

.about_us h2 {
    text-align: center;
    justify-content: left;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-right: 20px;
}

.about_us h3 {
    text-align: center;
}

.about_us img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 800px;
}

.story {
    min-width: 33%;
    background-image: url(../assets/bison.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.story h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mission {
    min-width: 33%;
    background-image: url(../assets/price_tower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    text-align: center;
    justify-content: center;
}

.mission h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.team {
    min-width: 33%;
    background-image: url(../assets/family.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    box-shadow: 0px 0px 15px 2px black;
    text-align: center;
    justify-content: center;
}

.team h3 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Products */

.products {
    display: flex;
    flex-direction: row;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0 2rem;
    background-color: black;
    color: white;
    margin: 20px 5px 20px 5px;
}

.products h2 {
    text-align: center;
    justify-content: left;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-right: 20px;
    margin: 5px 0px 5px 0px;
}

.products h3 {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.goods {
    max-width: 50%;
    padding-right: 5px;
    padding-bottom: 10px;
}

.services {
    max-width: 50%;
    padding-left: 5px;
    padding-bottom: 10px;
}

/* Contact */

.contact {
    display: flex;
    flex-direction: row;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0 2rem;
    padding-bottom: 10px;
    margin: 20px 5px 20px 5px;
}

.contact h2 {
    text-align: center;
    justify-content: left;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-right: 20px;
    margin: 5px 0px 5px 0px;
}

.contact-form-container {
    min-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px black;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: 700;
    color: black;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset black;
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: black;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

.submit-btn:hover {
    background-color: black;
    border: 2px solid gray;
    cursor: pointer;
    color: white;
}

.contact h3 {
    justify-content: center;
    text-align: center;
}

.social {
    max-width: 50%;
    padding-left: 5px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.telephone {
    max-width: 50%;
    padding-left: 5px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}
/* Loading screen */

/* .loader {
    background-image: url(../assets/tomahaw_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100%;
    height: 50%;
    position: relative;
    border: 4px solid #Fff;
    -webkit-animation: smooth 5s ease-in;
    -moz-animation: smooth 5s ease-in;
    -o-animation: smooth 5s ease-in;
    -ms-animation: smooth 5s ease-in;
    animation: smooth 5s ease-in;
}

@keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.loader h1 {
    justify-content: center;
    text-align: center;
}
*/

#loader {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../assets/TomahawkSupplyMonochrome.PNG);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*#loader h1 {
    height: 20%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: forwards fadeIn 1.8s;
    -webkit-animation: fadeIn 1.8s;
    -moz-animation: fadeIn 1.8s;
    -o-animation: fadeIn 1.8s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}*/

#loader .waviy {
    justify-content: center;
    text-align: center;
    position: relative;
}

#loader .waviy span {
    text-align: center;
    justify-content: center;
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}



/* Responsive Sections */

/* Mobile Devices */
@media only screen and (max-width: 767px) {
    .about_us {
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
    }
    
    .about_us h2 {
    text-align: center;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    padding: 10px 0;
    }
    
    .about_us img {
    width: 100%;
    max-width: none;
    }
    
    .story, .mission, .team {
    min-width: 100%;
    margin: 10px 0;
    }
    
    .products {
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
    }
    
    .products h2 {
    text-align: center;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    padding: 10px 0;
    }
    
    .goods, .services {
    max-width: 100%;
    }
    
    .contact {
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
    }
    
    .contact h2 {
    text-align: center;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    padding: 10px 0;
    }
}

  /* Tablets and Desktops */
@media only screen and (min-width: 768px) {
    .about_us {
    margin: 20px 5px;
    }
    
    .about_us h2 {
    text-align: center;
    justify-content: left;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-right: 20px;
    }
    
    .about_us img {
    width: 60%;
    max-width: 800px;
    }
    
    .story, .mission, .team {
    min-width: 33%;
    margin: 5px;
    }
    
    .products {
    margin: 20px 5px;
    }
    
    .products h2 {
    text-align: center;
    justify-content: left;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-right: 20px;
    margin: 5px 0;
    }
    
    .goods, .services {
    max-width: 50%;
    padding: 0 5px;
    }
    
    .contact {
    margin: 20px 5px;
    }
    
    .contact h2 {
    text-align: center;
    justify-content: left;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-right: 20px;
    margin: 5px 0;
    }
}
